{%extends "layout.html"%}
{% block title %}
    Register
{% endblock %}
{% block main %}
<!-- Display a page where new users can register -->
    <form action="/register" method="post">

<!-- Prompts for a username -->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
<!-- Prompts for a password-->
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>

<!-- Prompts for a confirmation of the password -->
        <div class="form-group">
            <input class="form-control" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>

<!--Submission button -->
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}